


@media (min-width:320px) and (max-width: 348px) {
  .container{
    padding: 0em 0em !important;
    //text-align: center !important;


  }


  .circle{
    width: 100% !important;
    display: none;
    object-fit: contain !important;
  }

  .circleMobile{
    width: 100% !important;
    display: unset !important;

    //padding-top: 100px !important;
    padding-bottom: 120px !important;
    position: relative !important;
  }

  .line1Mobile{
    position: relative;
    top: 0;
    //left: 0;
    width: 100%;
  }
  .line2Mobile{
    position: absolute !important;
    top: 44px !important;
    left: 0px !important;
    width: 100%;

    //display: none;
  }
  .line3Mobile{
    position: absolute !important;
    top: 86px !important;
    left: 6.83px !important;
    width: 96% !important;


  }

  .afroguyImageMobile{
    position: absolute;
    //display: none;

    top: 120px !important;
    width: 30px !important;
    left:35px !important;
  }

  .sweaterMobile{
    position: absolute;
    top: 100px !important;
    width: 30px !important;
    left:241px !important;
  }


  .coverFaceMobile{
    position: absolute;
    top: 250px !important;
    width: 22px !important;
    left:auto !important;
    right: 0px !important;
  }


  .southAfricaMobile{
    position: absolute;
    top: 350px !important;
    width: 30px !important;
    left:auto !important;
    right: 70px !important;


  }


  .afroladyImageMobile{

    position: absolute;
    top: 250px !important;
    width: 23px !important;
    left:0 !important;
  }


  .line4Mobile{
    position: absolute;
    top: 123px !important;
    //width: 365px !important;
    left:42px !important;

    width: 75% !important;

  }

  .blueImageMobile{
    position: absolute;
    top: 340px !important;
    width: 30px !important;
    left:128px !important;

  }

  .newfriendsbgMobile{
    position: absolute;
    top : 160px !important;
    left:80px !important;

    width: 55% !important;    //height: 250px !important;
    //display: flex;


    justify-content: center;
    align-items: center;
    vertical-align: center;
  }


  .header{

    position: absolute;
    top : 210px !important;
    left:27% !important;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 116%;
    color: #FFFFFF;
    //display: none;

    margin: unset;

    text-align: center;
  }
  .paragraph{

    position: absolute;
    top : 250px !important;
    left:28% !important;
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;

    line-height: 124%;
    text-align: center;
    padding-top: 4.5px;
    margin: unset;

    color: #FFFFFF;
  }




}



@media (min-width:350px) and (max-width: 424px) {
  .container{
    padding: 0em 0em !important;
    //text-align: center !important;


  }


  .circle{
    width: 100% !important;
    display: none;
    object-fit: contain !important;
  }

  .circleMobile{
    width: 100% !important;
    display: unset !important;

    //padding-top: 100px !important;
    padding-bottom: 120px !important;
    position: relative !important;
  }

  .line1Mobile{
    position: relative;
    top: 0;
    //left: 0;
    width: 100%;
  }
  .line2Mobile{
    position: absolute !important;
    top: 44px !important;
    left: 0px !important;
    width: 100%;

    //display: none;
  }
  .line3Mobile{
    position: absolute !important;
    top: 86px !important;
    left: 6.83px !important;
    width: 96% !important;


  }

  .afroguyImageMobile{
    position: absolute;
    //display: none;

    top: 140px !important;
    width: 37px !important;
    left:35px !important;
  }

  .sweaterMobile{
    position: absolute;
    top: 77px !important;
    width: 37px !important;
    left:241px !important;
  }


  .coverFaceMobile{
    position: absolute;
    top: 280px !important;
    width: 27px !important;
    left:auto !important;
    right: 0px !important;
  }


  .southAfricaMobile{
    position: absolute;
    top: 400px !important;
    width: 37px !important;
    left:auto !important;
    right: 70px !important;


  }


  .afroladyImageMobile{

    position: absolute;
    top: 280px !important;
    width: 27px !important;
    left:0 !important;
  }


  .line4Mobile{
    position: absolute;
    top: 123px !important;
    //width: 365px !important;
    left:44px !important;

    width: 77% !important;

  }

  .blueImageMobile{
    position: absolute;
    top: 380px !important;
    width: 37px !important;
    left:128px !important;

  }

  .newfriendsbgMobile{
    position: absolute;
    top : 150px !important;
    left:72px !important;

    width: 62% !important;    //height: 250px !important;
    //display: flex;


    justify-content: center;
    align-items: center;
    vertical-align: center;
  }


  .header{
    position: absolute;

    top: 230px !important;
    left: 30%!important;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 116%;
    color: #FFFFFF;
    //display: none;

    margin: unset;

text-align: center;
  }
  .paragraph{


    position: absolute !important;
    top: 275px !important;
    left: 27%!important;
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;

    line-height: 124%;
    text-align: center;
    padding-top: 4.5px;
    margin: unset;

    color: #FFFFFF;
  }




}






@media (min-width: 425px) and (max-width: 767px) {
  .container{
    padding: 0em 0em !important;
    //text-align: center !important;


  }


  .circle{
    width: 100% !important;
    display: none;
    object-fit: contain !important;
  }

  .circleMobile{
    width: 100% !important;
    display: unset !important;

    //padding-top: 100px !important;
    padding-bottom: 120px !important;
    position: relative !important;
  }

  .line1Mobile{
    position: relative;
    top: 0;
    //left: 0;
    width: 100%;
  }
  .line2Mobile{
    position: absolute !important;
    top: 44px !important;
    left: 0px !important;
    width: 100%;

//display: none;
  }
  .line3Mobile{
    position: absolute !important;
    top: 86px !important;
    left: 6.83px !important;
    width: 97% !important;


  }

  .afroguyImageMobile{
    position: absolute;
    //display: none;

    top: 140px !important;
    width: 37px !important;
    left:35px !important;
  }

  .sweaterMobile{
    position: absolute;
    top: 77px !important;
    width: 37px !important;
    left:241px !important;
  }


  .coverFaceMobile{
    position: absolute;
    top: 280px !important;
    width: 27px !important;
    left:auto !important;
    right: 0px !important;
  }


  .southAfricaMobile{
    position: absolute;
    top: 425px !important;
    width: 37px !important;
    left:auto !important;
    right: 50px !important;


  }


  .afroladyImageMobile{

    position: absolute;
    top: 300px !important;
    width: 27px !important;
    left:0 !important;
  }


  .line4Mobile{
    position: absolute;
    top: 123px !important;
    //width: 365px !important;
    left:44px !important;

    width: 80% !important;

  }

  .blueImageMobile{
    position: absolute;
    top: 430px !important;
    width: 37px !important;
    left:128px !important;

  }

  .newfriendsbgMobile{
    position: absolute;
    top : 163px !important;
    left:91px !important;

width: 250px !important;    //height: 250px !important;
    //display: flex;


    justify-content: center;
    align-items: center;
    vertical-align: center;

    //border-radius: 250px;
  }


  .header{

    position: absolute;

    top: 235px !important;
    left: 117px !important;
z-index: 10000;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 25px !important;
    line-height: 116%;
    color: #FFFFFF;
    //display: none;
    text-align: center;

    margin: unset;


  }
  .paragraph{
    position: absolute !important;
    top: 280px !important;
    left: 125px !important;
    z-index: 10000;
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 124%;
    text-align: center;
    padding-top: 4.5px;
    margin: unset;

    color: #FFFFFF;
  }




}
@media (min-width: 768px) and (max-width: 1023px) {
  .container{
    padding: 2em 1em !important;
    text-align: center;


  }





  .circle{
    position: relative;



  }



  .line1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    //position: absolute;
  }

  .line2{
    position: absolute;
    top: 85px !important;
    //display: none;
    width: 600px !important;
    left: 90px !important;
  }

  .line3{
    position: absolute;
    top: 142px !important;
    width: 480px !important;
    //display: none;

    left:150.14px !important;
  }

  .afroguyImage{
    position: absolute;
    //display: none;

    top: 250px !important;
    width: 50px !important;
    left:160px !important;
  }
  .afroladyImage{


    position: absolute;
    top: 510px !important;
    width: 50px !important;
    left:170px !important;
  }

  .southAfrica{
    position: absolute;
    top: 510px !important;
    width: 50px !important;
    left:560px !important;


  }

  .coverFace{
    position: absolute;
    top: 300px !important;
    width: 50px !important;
    left:600px !important;

  }

  .sweater{
    position: absolute;
    top: 130px !important;
    width: 50px !important;
    left:450px !important;

  }

  .line4{
    position: absolute;
    top: 202px !important;
    width: 365px !important;
    left:212px !important;

  }

  .blueImage{
    position: absolute;
    top: 540px !important;
    width: 50px !important;
    left:380px !important;

  }


  .newfriendsbg{
    position: absolute;
    top : 252px !important;
    left:262px !important;
    background: #0C0C0C;
    width: 270px !important;
    height: 270px !important;
    //display: flex;


    justify-content: center;
    align-items: center;
    vertical-align: center;

    border-radius: 250px;
    //display: none !important;


  }

  .header{

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
    line-height: 50px;
    color: #FFFFFF;
    //display: none;

    margin: unset;
    text-align: center;


  }
  .paragraph{
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 19px;
    text-align: center;
    padding-top: 4.5px;
    margin: unset;

    color: #FFFFFF;
  }
























}

@media (min-width: 1024px) and (max-width: 1199px){
  .container{
    padding: 2em 5em !important;
    text-align: center;




  }

  .circle{
    position: relative;



  }



  .line1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    //position: absolute;
  }

  .line2{
    position: absolute;
    top: 85px !important;
    //display: none;
    width: 710px !important;
    left: 90px !important;
  }

  .line3{
    position: absolute;
    top: 142px !important;
    width: 600px !important;
    //display: none;

    left:150.14px !important;
  }

  .afroguyImage{
    position: absolute;
    //display: none;

    top: 250px !important;
    width: 50px !important;
    left:170px !important;
  }
  .afroladyImage{


    position: absolute;
    top: 550px !important;
    width: 50px !important;
    left:150px !important;
  }

  .southAfrica{
    position: absolute;
    top: 550px !important;
    width: 50px !important;
    left:700px !important;


  }

  .coverFace{
    position: absolute;
    top: 300px !important;
    width: 50px !important;
    left:700px !important;

  }

  .sweater{
    position: absolute;
    top: 130px !important;
    width: 50px !important;
    left:500px !important;

  }

  .line4{
    position: absolute;
    top: 215px !important;
    width: 450px !important;
    left:225px !important;

  }

  .blueImage{
    position: absolute;
    top: 635px !important;
    width: 50px !important;
    left:420px !important;

  }


  .newfriendsbg{
    position: absolute;
    top : 265px !important;
    left:275px !important;
    background: #0C0C0C;
    width: 350px !important;
    height: 350px !important;
    //display: flex;


    justify-content: center;
    align-items: center;
    vertical-align: center;

    border-radius: 250px;
    //display: none !important;


  }

  .header{

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
    line-height: 50px;
    color: #FFFFFF;
    //display: none;

    margin: unset;


  }
  .paragraph{
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 19px;
    text-align: center;
    padding-top: 4.5px;
    margin: unset;

    color: #FFFFFF;
  }



















}




@media (min-width: 1200px) and (max-width: 1399px){
  .container{

    //padding: 7em 10em;

    padding: 6em 0em !important;
    text-align: center;









  }




}


@media (min-width: 1440px) {

  .container{
    max-width: 1440px !important;
    margin: 0 auto !important;
  }

}


.container{
  //padding: 140px 130px;
  padding-top: 140px;
  padding-bottom: 140px;
  justify-content: center;
  display: flex;


}

.circle{
  position: relative;
  //text-align: center;
  //width: 1179px;
  //height: 1179px;
}
.line1{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  //position: absolute;
}

.line2{
  position: absolute;
  top: 93px;
  //width: 990.2px;
  left: 93px;
}

.line3{
  position: absolute;
  top: 177px;
  //width: 821.82px;
  left:177.14px;
}

.afroguyImage{
  position: absolute;
  top: 273px;
  //width: 80px;
  left:239px;
}
.afroladyImage{
  position: absolute;
  top: 604px;
  //width: 80px;
  left:137px;
}

.southAfrica{
  position: absolute;
  top: 762px;
  //width: 80px;
  left:898px;
}

.coverFace{
  position: absolute;
  top: 448px;
  //width: 80px;
  left:959px;
}

.sweater{
  position: absolute;
  top: 177px;
  //width: 80px;
  left:711px;
}

.line4{
  position: absolute;
  top: 281.5px;
  //width: 618.54px;
  left:279px;
}

.blueImage{
  position: absolute;
  top: 842px;
  //width: 80px;
  left:452px;
}


.newfriendsbg{
  position: absolute;
  top : 371px;
  left:368px;
  background: #0C0C0C;
  width: 440px;
  height: 441px;
display: flex;


  justify-content: center;
  align-items: center;
  vertical-align: center;

  border-radius: 250px;

}

.header{

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  text-align: center;

  margin: unset;


}
.paragraph{
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
padding-top: 4.5px;
margin: unset;

  color: #FFFFFF;
}

.circleMobile{
  display: none;
}


//.newfriendtext{
//  visibility: hidden;
//}