

@media (min-width: 320px) and (max-width: 374px) {
  .bigImageMobile{
    width: 100% !important;
    margin-top: 80px!important;
  }



  .gistLogoMobile{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 56px;

  }
  .containerMobile{
    display: block !important;
    padding-top: 80px !important;



    align-items: center;

    background: #ED1C24;

    //padding: 7em 10em;

    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .appstoreSectionMobile{
    display: flex !important;

    margin-top: 40px !important;
  }
  .container{
    display: none !important;

  }
  .store1{
    width: 9em !important;
    height: 2.5em !important;
  }
  .store{
    width: 9em !important;
    height: 2.5em !important;
  }


  .gistLogo{
    padding-left: 40px !important;
  }
  .container{



    padding-left: 50px !important;
    padding-right: 40px !important;
  }


  .textSide{
    padding-right: 10px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 30px !important;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  //.circle{
  //  width: 50em !important;
  //}

  .phoneImage{
    width: 17em !important;
  }


}



@media (min-width: 375px) and (max-width: 424px) {
  .bigImageMobile{
    width: 100% !important;
    margin-top: 80px!important;
  }


  .gistLogoMobile{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 56px;

  }
  .containerMobile{
    display: block !important;
    padding-top: 80px !important;



    align-items: center;

    background: #ED1C24;

    //padding: 7em 10em;

    padding-left: 30px !important;
    padding-right: 30px !important;

  }

  .appstoreSectionMobile{
    display: flex !important;

    margin-top: 40px !important;
  }
  .container{
    display: none !important;

  }
  .store1{
    width: 6em !important;
    height: 2em !important;
  }
  .store{
    width: 6em !important;
    height: 2.5em !important;
  }


  .gistLogo{
    padding-left: 40px !important;
  }
  .container{



    padding-left: 50px !important;
    padding-right: 40px !important;
  }


  .textSide{
    padding-right: 10px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 30px !important;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  //.circle{
  //  width: 50em !important;
  //}

  .phoneImage{
    width: 17em !important;
  }

}





@media (min-width: 425px) and (max-width: 767px) {

  .bigImageMobile{
    width: 100% !important;
    margin-top: 80px!important;
  }

  .gistLogoMobile{
text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 56px;

  }
  .containerMobile{
    display: block !important;
    padding-top: 80px !important;



    align-items: center;

    background: #ED1C24;

    //padding: 7em 10em;

    padding-left: 50px !important;
    padding-right: 50px !important;

  }

  .appstoreSectionMobile{
    display: flex !important;

    margin-top: 40px !important;
  }
  .container{
    display: none !important;

  }
  .store1{
    width: 9em !important;
    height: 2.5em !important;
  }
  .store{
    width: 9em !important;
    height: 2.5em !important;
  }


  .gistLogo{
    padding-left: 40px !important;
  }
  .container{



    padding-left: 50px !important;
    padding-right: 40px !important;
  }


  .textSide{
    padding-right: 10px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 30px !important;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  //.circle{
  //  width: 50em !important;
  //}

  .phoneImage{
    width: 17em !important;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .store1{
    width: 9em !important;
    height: 2.5em !important;
  }
  .store{
    width: 9em !important;
    height: 2.5em !important;
  }


  .gistLogo{
    padding-left: 40px !important;
  }
  .container{



    padding-left: 50px !important;
    padding-right: 40px !important;
  }


  .textSide{
    padding-right: 10px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 30px !important;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  //.circle{
  //  width: 50em !important;
  //}

  .phoneImage{
    width: 17em !important;
  }


}
  @media (min-width: 1024px) and (max-width: 1199px){

  .gistLogo{
    padding-left: 60px !important;
  }
  .container{



    padding-left: 50px !important;
    padding-right: 140px !important;
  }


  .textSide{
    padding-right: 3px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 48px;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  .circle{
    width: 50em !important;
  }
}




@media (min-width: 1200px) and (max-width: 1399px){

  .gistLogo{
    padding-left: 60px !important;
  }
  .container{



    padding-left: 80px !important;
    padding-right: 120px !important;
  }


  .textSide{
    padding-right: 3px !important;
  }
  .mainText{
    font-family: Gilroy;
    //padding-right: 2em;
    font-size: 48px;
    line-height: 108%;
    /* or 52px */


    color: #FFFFFF;
  }


  .circle{
    width: 50em !important;
  }

}





@media (min-width: 1440px) {

  .container{
    max-width: 1440px !important;
    margin: 0 auto !important;
  }

}
.containerOutside{
  background: #ED1C24;

}



.container{
  position: relative;
  background: #ED1C24;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 64px;
  padding-left: 130px;
  padding-right: 140px;
}
.textSide{
  padding-right: 120px;
}
.mainText{
  font-family: Gilroy;
//padding-right: 2em;
  font-size: 48px;
  line-height: 108%;
  /* or 52px */


  color: #FFFFFF;
}

.store{
  margin-left: 14px;
}

.gistLogo{
  padding-left: 98px;
}
.appstoreSection{
  display: flex;
}

.containerMobile{
  display: none;
  position: relative;
  overflow: hidden;
}