html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*overflow: hidden;*/

}


body::-webkit-scrollbar {
  width: 0em;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: unset;    /* color of the scroll thumb */
  border-radius: 0em;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /*overflow-x: h*/
;
}

@media (min-width: 1440px) {

  .mainbg
  {
    height: 100vh;
    /*visibility: hidden;*/

    /*padding-top: 100px;*/
  }

}
.mainbg
{
  position: relative;
/*visibility: hidden;*/

  /*padding-top: 100px;*/
}


.hero{
visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -0;
background: url("https://res.cloudinary.com/seunsanyaa/image/upload/v1643184760/BG_axelrb.png");
/*height: 100vh;*/
background-size: cover;
  background-repeat:repeat-x;
  margin-bottom: 24px;

  /*background-repeat: round;*/
}

.background{
  background: #050505;
  overflow-x: hidden;

}

.swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
  opacity: 1!important;
}

.swiper-pagination .swiper-pagination-bullet {
  color:white;
  background-color: white;
  opacity: 0.4;
  margin: 0em 10px !important ;
}

.swiper-pagination{
  /*padding-top: 10em !important;*/
}
/*.swiper-pagination-bullet-inactive{*/
/*  background-color: #8F8F8F !important;*/
/*}*/


/*laptopScroll{*/

/*  width: 100%;*/
/*  height: 100%;*/
/*  overflow-y: scroll;*/
/*}*/
@media (min-width: 768px) and (max-width: 1023px) {


img{
  max-width: 100%;
}
}

/*.hidden{*/
/*  visibility: hidden;*/
/*}*/


.loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #191919;

  color: white;
}


.loaderText{
  font-size: 1.5vw;

  text-transform: uppercase;

  font-family: Gilroy;

}

.absolute{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left:0;

  background-color: black;
  z-index: 1;

}
/*html.has-scroll-smooth {*/
/*  overflow: hidden; }*/
/*.has-scroll-smooth body {*/
/*  overflow: hidden; }*/


.path {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
  /*animation: dash 5s linear alternate infinite;*/
}

/*@keyframes dash {*/
/*  from {*/
/*    stroke-dashoffset: 1;*/
/*  }*/
/*  to {*/
/*    stroke-dashoffset: 0;*/
/*  }*/
/*}*/